<div style="display: table;">
    <div style="display: table-cell; width: 100%">{{ widget }}</div>
    <div style="display: table-cell; padding-left: 5px; vertical-align: middle;">
        <!--<button type="button" class="btn btn-default btn-xs add-ingredient" aria-label="Add ingredient">-->
            <a href="/recipes/ingredient/add/" class="ingredient-widget show_modal" id="add-{{ name }}" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        <!--</button>-->
    </div>
</div>