{% extends 'recipes/base.html' %}

{% block title %}
    {{ recipe.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-12 clearfix">
        <div class="no-print" style="display: inline-block; margin-right: 20px">
            <img src="{{ recipe.image.url }}" class="center-cropped" style="width: 200px; height: 200px">
        </div>
        <div style="display: inline-block;">
            <h1>{{ recipe.name }}</h1>
            <div class="clearfix" style="margin-bottom: 5px;">
                <div style="display: inline-block;">
                    <ul class="list-inline">
                        <li>{{ recipe.source|default:"My own" }}</li>
                        <li><span class="recipe-label">Serves: </span>{{ recipe.serves }}</li>
                        <li><span class="recipe-label">Time: </span>{{ recipe.prep_time }}</li>
                    </ul>

                </div>
                <div style="display: inline-block;">
                    [MARK BUTTON]
                </div>
                <div>
                    [TAGS]
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>Ingredients</h3>
        <ul class="list-unstyled">
        {% for ingredient in recipe.recipeingredient_set.all %}
            <li>{{ ingredient }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-sm-8">
        <h3>Preparation</h3>
        {{ recipe.preparation }}
    </div>
</div>

{% endblock content %}
