{% extends 'recipes/base.html' %}
{% block title %}
    Edit {{ recipe.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
    {% if new %}
        <h1>New Recipe</h1>
    {% else %}
        <h1>Edit "{{ recipe.name }}"</h1>
    {% endif %}
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        {{ ri_formset.management_form }}
        <h2>Ingredients</h2>
        <table>
            {% for form in ri_formset %}
                {% if forloop.first %}
                    <thead>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label_tag }}</th>
                        {% endfor %}
                    </thead>
                {% endif %}
                <tr class="recipeingredient_set">
                    {% for field in form.visible_fields %}
                        <td>{{ field }}<br>{{ field.errors }}</td>
                    {% endfor %}
                    {% for hidden in form.hidden_fields %}
                        <td class="hidden">{{ hidden }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
        <a href="#" class="add_more" fs="recipeingredient_set">Add another ingredient</a>


        <hr>
        <h2>Preparation</h2>
        {{ rs_formset.management_form }}

        <ol>
            {% for form in rs_formset %}
                    <li class="recipestep_set">{{ form.text }} {{form.DELETE }}{% for h in form.hidden_fields %}{{ h }}{% endfor %}</li>
            {% endfor %}
        </ol>
        <a href="#" class="add_more" fs="recipestep_set">Add another ingredient</a>
        <p><button type="submit">Submit</button></p>
    </form>
        <script>
            $('.add_more').click(function() {
                cloneMore($(this).attr('fs'));
            });
        </script>
{% endblock content %}